html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
style.css
html { position: absolute;}

head { color: #FF0000; }

h1 { color: Black; }

  h2 { color: red; }

    h4  { color: Black; }

body
{ font-family:"Times new roman", corrier new;color: black;}

ul{ color: gray}
